@import "../node_modules/modern-normalize/modern-normalize.css";

:root {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* Normalize end */
:root {
  --rows: 10;
  --cols: 10;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0px 20px;
  align-items: center;
}

button {
  padding: 10px;
}

.large-button {
  padding: 20px 40px;
  font-weight: bold;
}

h2 {
  font-weight: bold;
  font-size: 3rem;
}

h3 {
  font-weight: bold;
  font-size: 2rem;
}

.game-over-screen,
.game-start-screen,
.placement-screen,
.game-boards-screen,
.turn-swap-screen {
  display: none;
}

.game-boards-screen.active,
.game-over-screen .gameboards,
.placement-screen.active .placement-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 20px;
  padding: 50px;
  align-self: stretch;
}

.player-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.placement-menu {
  display: grid;
  gap: 20px;
  height: 100%;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.gameboard-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 20rem;
}

.gameboard-header {
  text-align: center;
}

.gameboard {
  flex-grow: 1;
  display: grid;
  grid-template-rows: repeat(var(--rows), 1fr);
  grid-template-columns: repeat(var(--cols), 1fr);
  height: 100%;
  aspect-ratio: 1;
}

.gameboard .board-cell {
  border: solid black 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
}

.board-cell.highlighted {
  font-weight: 1000;
}

.game-over-screen.active,
.game-start-screen.active,
.turn-swap-screen.active,
.placement-screen.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.turn-swap-screen .swap-message {
  font-weight: bold;
}
