@import "../node_modules/modern-normalize/modern-normalize.css";

:root {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* Normalize end */
:root {
  --rows: 10;
  --cols: 10;
}

.gameboards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 20px;
  padding: 50px;
  height: 100vh;
}

.gameboard-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameboard-header {
  text-align: center;
}

.gameboard-header h2 {
  font-weight: bold;
  font-size: 3rem;
}

.gameboard {
  flex-grow: 1;
  display: grid;
  grid-template-rows: repeat(var(--rows), 1fr);
  grid-template-columns: repeat(var(--cols), 1fr);
}
.gameboard .board-cell {
  border: solid black 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
}

.board-cell.highlighted {
  font-weight: 1000;
}

.game-over {
  display: none;
}

.game-start-screen {
  z-index: 2;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.start-button {
  padding: 20px;
  font-weight: bold;
}

.game-start-screen h2 {
  font-weight: bold;
  font-size: 3rem;
}

.to-place {
  position: absolute;
  z-index: 1;
}
